# Obsidian local cache
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/core-plugins-migration.json

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Node modules
node_modules/